@import "../../../../../default-variables";

//full container dropdown
.dropdown-container {
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
//addresses input
.dropdown-container__input {
  width: 50%;
  border-bottom: 0.3px solid rgba(191, 187, 187, 1);
  input {
    width: 100%;
  }
}
.dropdown-container__button {
  width: 20%;
}
