.carCards__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carCards__item {
  display: flex;
  align-items: center;
  justify-content: center;
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  animation: fadeIn 1.7s ease 0s 1 normal forwards;
}
.carCards__img {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1200px) {
    width: 40%;
  }
  @media screen and (min-width: 1200px) {
    width: 80%;
  }
  img {
    width: 100%;
    height: auto;
  }
}
.carCards__wrapper {
  overflow: hidden;
}
