.sidebar {
  width: 64px;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #111518;
  position: absolute;
  left: 0px;
  top: 0;
}
@media (max-width: 520px) {
  .sidebar {
    position: absolute;
    left: -64px;
  }
}