.orderField {
  font-size: 15px;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  :last-child {
    margin-left: 10px;
    font-weight: 700;
  }
}
