.service-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.service-container__services {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
