@import "./../../../default-variables.scss";
//main container
.orderReview__container {
  width: 35%;
  height: 90%;
  margin: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    font-size: 20px;
    color: $pimary-color;
  }
  &--fullPage {
    width: 50%;
  }
}
// container with content
.orderReview__content {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.orderReview__car {
  height: 10%;
  font-size: 15px;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  text-align: center;
  justify-content: space-between;
  :nth-child(even) {
    margin-left: 10px;
    font-weight: 700;
  }
}
.orderReview__colorContainer {
  height: 20px;
  display: flex;
  align-items: center;
}
.orderReview__color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgba(191, 187, 187, 0.2);
} //пункт выдачи
.orderReview__pickPoint {
  width: 100%;
  height: 5%;
}
.orderReview__variants {
  width: 100%;
  height: 20%;
}
.orderReview__additional {
  height: 40%;
  width: 100%;
}
.functional {
  display: flex;
  margin-bottom: 10px;
}
