@import "../../../../../default-variables.scss";
.timepicker__container {
  width: 100%;
  display: flex;
  @media screen and (max-width: 1200px) {
    align-items: flex-start;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }
}
.timepicker {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  input {
    color: $pimary-color;
  }
}
