@import "../../../../../../default-variables.scss";


.service__container {
  user-select: none;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  width: 150px;
  height: 70px;
  border-radius: 10px;
  border: 2px solid rgba(191, 187, 187, 0.2);
  &--active {
    border: 2px solid $pimary-color;
    box-shadow: 9px 13px 14px -17px rgba(34, 60, 80, 0.7);
  }
}
.service__title {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
}
