@import "../../../../../default-variables.scss";

.tariff-container {
  display: flex;
  height: 45%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h3 {
    margin-bottom: 5px;
  }
}
.tariff-container__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
