$color__green: #0ec261;
$color__grey: #999;

%titlestyle {
  font-weight: 700;
  font-size: 70px;
  line-height: 66px;
  margin-bottom: 4px;
  user-select: none;
}
.mainpage {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}
