.mainpage .mainpage--content :nth-child(2), .mainpage .mainpage--content :first-child {
  font-weight: 700;
  font-size: 70px;
  line-height: 66px;
  margin-bottom: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.mainpage {
  margin-left: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}
.mainpage .mainpage--container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainpage .mainpage--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mainpage .mainpage--content :nth-child(2) {
  color: #0ec261;
}
.mainpage .mainpage--content :nth-child(3) {
  font-size: 26px;
  font-weight: 300;
  color: #999;
  margin-bottom: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.mainpage .mainpage--content button {
  padding: 20px 30px;
  width: 250px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  background-color: #0ec261;
  border-style: none;
  outline-style: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.mainpage .mainpage--content button:hover {
  background-color: #039f67;
}
.mainpage .mainpage--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.mainpage .mainpage--footer :first-child {
  color: #999;
}
.mainpage slider {
  width: 50%;
}