@import "../../../../../default-variables.scss";
.timepicker-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20%;
}
.timepicker-container__content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 10px 0px;
  span {
    color: $pimary-color;
    font-weight: 700;
  }
}
