@import "./../../../default-variables";

.orderAdd__container {
  width: 100%;
  height: 100%;
}
.colors__block {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span {
    margin-bottom: 10px;
  }
}

.currentCar__reviewColorsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.currentCar__reviewColors {
  padding: 3px;
  cursor: pointer;
  width: 150px;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: -1px -1px 16px 1px rgba(142, 142, 142, 0.01);

  // @media screen and (max-width: 992px) {
  //   width: 10%;
  // }
  // @media screen and (min-width: 1200px) {
  //   width: 20%;
  // }
  img {
    width: 100%;
  }
}
.currentCar__reviewColors--selected {
  border: 2px solid $pimary-color;
  box-shadow: -1px -1px 16px 1px rgba(142, 142, 142, 0.07);
}
.orderAdd__tariffs {
  margin: 0 auto;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.orderAdd__services {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20%;
}
