@import "../../default-variables.scss";

.service__help {
  position: absolute;
  padding: 8px;
  top: -100%;
  left: 100%;
  width: 250px;
  text-align: justify;
  border-radius: 7px;
  color: $pimary-color;
  background-color: rgb(224, 222, 222);
  opacity: 0;
  z-index: -100;
  &--active {
    opacity: 1;
    z-index: 5;
    animation: fadeIn 1s ease 0s 1 normal forwards;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
