@import "./../../default-variables";

.tooltip__container {
  position: absolute;
  width: 312px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 102%;
  left: 0%;
  background: rgba(227, 89, 89, 0.7);
  border-radius: 4px;
  color: white;
}
